{% extends 'base.html.twig' %}

{% block title %}Application index{% endblock %}

{% block body %}
    <h1>Application index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Job</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.id }}</td>
                <td>{{ application.firstName }}</td>
                <td>{{ application.lastName }}</td>
                <td>{{ application.email }}</td>
                <td>{{ application.phone }}</td>
                <td>{{ application.address }}</td>
                <td>{{ application.job }}</td>
                <td>
                    <td>
                        {{ application.state }}
                        {% if application.accepted == 0 and application.state == -1 %}
                            refusée
                        {% elseif application.state == -1 %}
                            acceptée
                        {% endif %}
                    </td>
                </td>
                <td>
                    <a href="{{ path('application_show', {'id': application.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}