{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>{{ articleTitle }}</h1>
    <p>category: {{ articleTitle }}</p>
    <p>{{ articleContent }}</p>
    <p>Date: {{ articleCreationDate.format('Y-m-d H:i:s') }}</p>
{% endblock %}
