{% extends 'base.html.twig' %}

{% block title %}CSAF - {{ job.title }}{% endblock %}

{% block body %}

  <section class="fiche">
    <div class="grid-container">
      <div class="grid-x grid-padding-x align-center align-middle">
        <h2 class="fiche-title cell small-12 medium-5 large-6 text-center align-center">
          {{ job.title }}
        </h2>
        <div class="fiche-title-text cell small-12 medium-5 large-6 ">
          <p>{{ job.description }}</p>
          <div>
            <p class="fiche-grade-text">
              Grade : {{ job.rank }}
            </p>
            <p class="fiche-grade-text">
              {{ job.rankDescription }}
            </p>
          </div>
        </div>
        <div class="grid-x grid-padding-x align-middle align-center small-12">
          <div class="fiche-categories-container cell align-center small-12 medium-10 text-center">
            <p class="fiche-text">Profil recherché : <span class="fiche-span-padding">{{ job.prerequisiteTemper }}</span></p>
            <p class="fiche-text">Age requis : <span class="fiche-span-padding">{{ job.prerequisiteAge }}</span></p>
            <p class="fiche-text">Niveau d'études : <span class="fiche-span-padding">{{ job.prerequisiteEducation }}</span></p>
            <p class="fiche-text">Type de contract : <span class="fiche-span-padding">{{ job.contractType }} {% if job.contractDuration != 1 %}({{ job.contractDuration }} jours){% endif %}</span></p>
            <p class="fiche-text">Salaire : <span class="fiche-span-padding">{{ job.salary / 100 }}.{{ job.salary % 100 }}€</span></p>
            <p class="fiche-text">Nombre de postes à pourvoir : <span class="fiche-span-padding">{{ job.availableSeats }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
