{% extends 'base.html.twig' %}

{% block title %}CSAF - {{ job.title }}{% endblock %}

{% block body %}

  <section class="fiche">
    <div class="grid-container">
      <div class="grid-x align-center">
        <div class="edito grid-x grid-padding-x align-middle">
            <div class="cell small-12 medium-6">
                <h1 class="edito__title small-12">
                {{ job.title }}
                </h1>
            </div>

            <div class="cell small-12 medium-6">
                <p class="edito__text">{{ job.description }}</p>
                <p class="edito__text">Grade : {{ job.rank }}</p>
            </div>
        </div>

        <table class="job_table">
          <tr>
            <td class="job_table_left">Profil recherché :</td>
            <td class="job_table_right">{{ job.prerequisiteTemper }}</td>
          </tr>
          <tr>
            <td class="job_table_left">Age requis :</td>
            <td class="job_table_right">{{ job.prerequisiteAge }}</td>
          </tr>
          <tr>
            <td class="job_table_left">Niveau d'études :</td>
            <td class="job_table_right">{{ job.prerequisiteEducation }}</td>
          </tr>
          <tr>
            <td class="job_table_left">Type de contrat :</td>
            <td class="job_table_right">{{ job.contractType }} {% if job.contractDuration != 1 %}({{ job.contractDuration }} jours){% endif %}</td>
          </tr>
          <tr>
            <td class="job_table_left">Salaire :</td>
            <td class="job_table_rightt">{{ job.salary / 100 }}.{{ job.salary % 100 }}€</td>
          </tr>
          <tr>
            <td class="job_table_left">Nombre de postes disponibles :</td>
            <td class="job_table_right">{{ job.availableSeats }}</td>
          </tr>
        </table>

        </div>
      </div>
    </div>
  </section>

{% endblock %}
